html {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(130deg, #1abc9c, #2ecc71,#1ac);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
background-attachment: fixed;
}
.form-control {
  color:#1ac
}
div.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
  color: #fff;
  font-weight: 300;
  
}

input.form-control {
  border: none;
  height: 50px;
  width: 250px;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 1rem;
  outline: none;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

input.form-check-input {
  border: none; /* ลบเส้นขอบของช่อง input */
  background-color: rgba(255, 255, 255, 0.2); /* สีพื้นหลังเทาโปร่งใส */
  color: #ffffff; /* สีข้อความ */
  width: 30px; /* กว้างขึ้น */
  height: 28px; /* สูงขึ้น */
  margin: 10px 0; /* ระยะห่างด้านบนและด้านล่าง */
  font-size: 1rem; /* ขนาดตัวอักษร */
  outline: none; /* ไม่มีเส้นขอบเมื่อคลิก */
  text-align: center; /* จัดตำแหน่งข้อความกลางกล่อง */
  border-radius: 5px; /* ขอบมนและโค้ง */
  transition: 0.5s; /* การเปลี่ยนสีเมื่อนำเมาส์มาชี้ */
  cursor: pointer; /* รูปลูกศรเป็นมือ */
}

input.form-check-input::placeholder {
  color: #ffffff;
}

input.form-check-input:hover,
input.form-check-input:focus {
  background: #fff;
  color: #1ac;
}

.btn-primary {
  background: none; /* ไม่มีพื้นหลัง */
  border: 2px solid #fff; /* เส้นขอบสีขาว */
  color: #fff;
  width: 270px; /* กว้างขึ้น */
  height: 60px; /* สูงขึ้น */
  margin: 10px 0; /* ระยะห่างด้านบนและด้านล่าง */
  font-size: 1rem; /* ขนาดตัวอักษร */
  outline: none; /* ไม่มีเส้นขอบเมื่อคลิก */
  text-align: center; /* จัดตำแหน่งข้อความกลางกล่อง */
  border-radius: 5px; /* ขอบมนและโค้ง */
  transition: 0.5s; /* การเปลี่ยนสีเมื่อนำเมาส์มาชี้ */
  cursor: pointer; /* รูปลูกศรเป็นมือ */
}

.btn-primary:hover {
  background: #fff; /* สีพื้นหลังของปุ่มเมื่อนำเมาส์มาชี้ */
  color: #1ac;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* เงาเมื่อนำเมาส์มาชี้ */
}
